asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
aiohttp
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pyrofork==2.2.11
uvloop
yt_dlp
pymegatools

pyrogram>=2.0.30
tgcrypto
requests
bs4
heroku3
pynewtonmath
pytz
aiohttp
